.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spacer {
  min-height: 5vh;
}

.counter {
  padding: 10vh;
  max-width: 50vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 248px;
}

.cell {
  text-align: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block
}

#cell1 {
  border-bottom: 2px solid black;
  border-top: 0px solid black;
  border-right: 2px solid black;
  border-left: 0px solid black;   
}

#cell2 {
  border-bottom: 2px solid black;
  border-top: 0px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;   
}

#cell3 {
  border-bottom: 2px solid black;
  border-top: 0px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;
}

#cell4 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 0px solid black;   
}

#cell5 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;   
}

#cell6 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;   
}

#cell7 {
  border-bottom: 0px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 0px solid black;   
}

#cell8 {
  border-bottom: 0px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;   
}

#cell9 {
  border-bottom: 0px solid black;
  border-top: 2px solid black;
  border-right: 0px solid black;
  border-left: 2px solid black;   
}